{% extends 'base.html.twig' %}

{% block title %}{{ book.title }} {{ parent() }}{% endblock %}

{% block body %}

    <h1>Édition de {{ book.title }}</h1>

    <div class="container">

        {{ form_start(form) }}

        {{ form_row(form.title, {
            'label': 'Nom',
            'name': 'title',
            'label_attr': {'class': 'font-weight-bold'},
            'attr': {'class': 'form-control'}}) }}
        <br/>

        {{ form_row(form.author, {
            'label': 'Auteur',
            'name': 'author',
            'label_attr': {'class': 'font-weight-bold'},
            'attr': {'class': 'form-control'}}) }}
        <br/>

        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}